{
  "extends": [
    "mourner",
    "plugin:import/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "globals": {
    "document": true
  },
  "rules": {
    "no-duplicate-imports": "off",
    "import/no-duplicates": "error",
    "import/no-commonjs": "error",

    "indent": [2,2],
    "array-bracket-spacing": "off",
    "block-scoped-var": "error",
    "consistent-return": "off",
    "global-require": "off",
    "key-spacing": "off",
    "no-eq-null": "off",
    "no-new": "off",
    "no-var": "error",
    "no-warning-comments": "error",
    "object-curly-spacing": "off",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "quotes": "off",
    "space-before-function-paren": "off",
    "template-curly-spacing": "error",
    "camelcase": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
